body { margin: 0; overflow: hidden; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
        #instructions {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
            background: rgba(0, 0, 0, 0.8);
            padding: 30px;
            border-radius: 15px;
            cursor: pointer;
            border: 2px solid #555;
        }

        #crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  pointer-events: none;
}

#crosshair::before,
#crosshair::after {
  content: "";
  position: absolute;
  background: white;
}

#crosshair::before {
  width: 2px;
  height: 20px;
  left: 9px;
  top: 0;
}

#crosshair::after {
  width: 20px;
  height: 2px;
  top: 9px;
  left: 0;
}